includes:
    - vendor/pestphp/pest-plugin-phpstan/extension.neon
parameters:
    level: 10
    tmpDir: cache/phpstan
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures
